<main class="management-container">
  <h1>Update Account Information</h1>

  <% if (messages && messages.length > 0) { %>
    <ul class="flash-messages">
      <% messages.forEach(msg => { %>
        <li><%= msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <% if (errors && errors.length > 0) { %>
    <ul class="error-messages">
      <% errors.forEach(err => { %>
        <li><%= err.msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <!-- Account Update Form -->
  <form action="/account/update" method="post" novalidate>
    <input type="hidden" name="account_id" value="<%= account.account_id %>" />
    
    <label for="account_firstname">First Name</label>
    <input type="text" id="account_firstname" name="account_firstname" required
           value="<%= account.account_firstname %>" />

    <label for="account_lastname">Last Name</label>
    <input type="text" id="account_lastname" name="account_lastname" required
           value="<%= account.account_lastname %>" />

    <label for="account_email">Email</label>
    <input type="email" id="account_email" name="account_email" required
           value="<%= account.account_email %>" />

    <button type="submit">Update Account</button>
  </form>

  <hr>

  <!-- Change Password Form -->
  <form action="/account/change-password" method="post" novalidate>
    <input type="hidden" name="account_id" value="<%= account.account_id %>" />

    <label for="account_password">New Password</label>
    <input type="password" id="account_password" name="account_password" 
           placeholder="Enter new password to change" />
    <small>Password must be at least 8 characters with uppercase, lowercase, number, and special character.</small>

    <button type="submit">Change Password</button>
  </form>
</main>
