<!DOCTYPE html>
<html lang="en">
  <!-- Include head partial with CSS and title -->
  <%- include('../partials/head') %>

  <body>
    <div id="wrapper">
      <!-- Header -->
      <%- include('../partials/header') %>

      <!-- Navigation Bar -->
      <%- include('../partials/navigation') %>

      <!-- Main Content -->
      <main>
        <%- body %>
      </main>

      <!-- Footer -->
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
